{% extends 'main/base.html' %}

{% block content %}
    <div class="container" style="max-width: 60rem;">
        <h1 class="mb-3">About Section</h1>
        <div class="fs-6">
            <p>
                Мануэль дус Рейс Машаду, сын Луиза Кандиду и Марии Мартиньи ду Бонфим, родился 23 ноября 1899 году в Салвадоре. Капоэйре начал обучаться в возрасте 12 лет на Эстрада дас Боядас у мифического африканца по имени Бентинью. Как и многие капоэйристы тех лет Бимба был дебоширом и любил подраться, не упуская любой возможности из-за чего был прозван bimba, то есть «тот, кто бьёт», «дубина»[1]. Мастером он стал в 1918 году и к нему начали приходить как к выдающемуся бойцу, желая научиться капоэйре, как единоборству.
            </p>
            <p>
                В 1920—х годах среди учеников Бимбы появилась «золотая молодёжь», увлечённая модной «Национальной Гимнастикой» (порт. Gynástica Nacional). В 1932 году, заручившись поддержкой авторитетных товарищей, Бимба открывает первый в Салвадоре зал для занятий капоэйрой. Он оставляет регулярную работу в доках и начинает обучать профессионально. Как раз в это время происходит формирование, классификация технического арсенала, разработка методов обучения и создание курса «борьбы баиянского региона» или «региональной капоэйры» (порт. Luta Regional Bahiana).
            </p>
            <p>
                Продвигая собственную школу Бимба всегда подчёркивал боевой аспект капоэйры, но и культурного не упускал. Он и его ученики выступали на ринге в боях без правил, проводили показательные выступления на сцене, участвовали в фольклорных фестивалях.
            </p>
            <p>
                В 1950-60х годах школу Бимбы прошло множество важнейших мастеров эпохи, таких как Сенна, Аккордеон, Вермелью, Саси, Итапуан, Освалдо, Суассуна, Камиза Роша и Камиза, Гату (Фернанду Альбукерке) и братья Флорес. С ними капоэйра не только окрепла и прочно вошла в культуру региона, но и начала активно распространяться по всей Бразилии и даже выходить за её пределы – в Европу и Соединённые Штаты Америки.
            </p>
            <p>
                Бимба внёс огромный вклад в сохранение и распространение капоэйры, став самым влиятельным мастером за всю её историю. Однако баиянское министерство культуры не признавало заслуг Бимбы, и он, разочарованный несправедливой политикой, переезжает в другой город — в Гоянию, где его работу, как он считал, могли оценить по достоинству. Обосноваться на новом месте Бимба не успел: 5 февраля 1974 года, спустя несколько месяцев после переезда, он умер.
            </p>
        </div>
    </div>


{% endblock %}