{% extends 'main/base.html' %}

{% block content %}
    <div class="container" style="max-width: 60rem;">
        <h1 class="mb-4">Donate as you Read (blog based on Donation)</h1>
        <div class="fs-6">
            <h3>Project Overview</h3>
            <hr>
            <div class="mb-4">
                A simple blog where users can donate cryptocurrency to the author of the article.
            </div>

            <h3>Objectives</h3>
            <hr>
            <div class="mb-4">
                <ul>
                    <li>Create a website where you can write and read articles (you need to be logged in to write)</li>
                    <li>Create a smart contract to transfer cryptocurrency to the author of the article</li>
                    <li>Ability to log in to the site and link a crypto wallet</li>
                    <li>Users can pay in SepoliaETH</li>
                </ul>
            </div>

            <h3>Used Technologies</h3>
            <hr>
            <div class="mb-4">
                <ul>
                    <li>
                        <b>Blockchain:</b> Ethereum, Web3.py, SepoliaETH Testnet
                    </li>
                    <li>
                        <b>Backend:</b> Python, Django, Web3.py
                    </li>
                    <li>
                        <b>Frontend:</b> HTML, CSS, JS, Jinja, Bootstrap
                    </li>
                    <li>
                        <b>Deployment:</b> Nginx, Uvicorn
                    </li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}